@import 'vars.css';

.skills, .skills__category{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills__category{
    margin-bottom: 15pt;
}

.skills__category:last-child{
    margin-bottom: 0;
}

.skills__category__header{
    font-weight: 300;
    font-size: 24pt;
    margin-bottom: 10px;
}

.skill{
    font-weight: 500;
    color: var(--text2);
    font-style: italic;
}

@media screen and (max-width: 768px){
    .skills__category__header{
        font-size: 20pt;
    }
    
    .skill{
        font-size: 11pt;
    }
}
