:root{
    --background1: #FFFFFF;
    --background2: #EEEEEE;
    --background3: #282828;
    --accent: #ff2ba7;
    --accentTransparent: #ff2ba769;
    --text1: #111111;
    --text2: #888888;
    --text3: #F8F8F8;
}